/* Font Face */
@font-face {
  font-family: "Modern Font";
  src: url("fonts/ethnocentric/ethnocentric rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* CSS Variables */
:root {
  --color-main: aqua;
  --color-accent: orangered;
  --color-secondary: rgb(116, 116, 116);
  --bg-gradient: linear-gradient(80deg, black, transparent);
  --bg-main: #121212;
}

/* Reset and Body */
* {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  font-family: "Modern Font", sans-serif;
  scroll-behavior: smooth;
  caret-color: transparent;
}

::selection {
  background-color: transparent;
  color: white;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header and Navigation */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 100;
  padding-top: 10px;
}

nav {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

nav h2 {
  font-weight: 100;
  color: var(--color-main);
  font-size: 18px;
  cursor: pointer;
  
}

nav .icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

nav .icons i {
  color: var(--color-main);
  transition: all 0.3s ease;
  cursor: pointer;
}

nav .icons i:hover {
  color: white;
}

.inner-container-width {
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 130px;
}

/* Hero Section */
#hero {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  position: relative;
}

#hero img {
  width: 100%;
  height: 100%;
  filter: opacity(0.7);
  z-index: -50;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 1;
  transition: all 0.3s ease;
}

#information {
  display: flex;
  align-items: center;
  height: 100%;
  opacity: 1;
  transition: all 0.3s ease;
}

#information .content {
  width: 50%;
  z-index: 10;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#information h3 {
  color: var(--color-main);
  font-size: 46px;
  font-weight: 100;
  position: relative;
  text-shadow: 5px 10px 10px black;
}

.content-item {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}

.content-item .off-deal {
  color: white;
  font-size: 18px;
  background-color: var(--color-accent);
  padding: 6px 12px;
  border: 1px solid var(--color-accent);
  border-radius: 12px;
  display: inline-block;
}

.content-item .price {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-item .price span {
  font-size: 32px;
}

.btn {
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn-secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

/* Hero Gradient Overlay */
.hero-gradient {
  background: var(--bg-gradient);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.shape-divide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divide svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 230px;
}

.shape-divide .shape-fill {
  fill: var(--bg-main);
}

/* Hero Selection */
#hero-selection {
  width: 300px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#hero-selection div {
  width: 40px;
  height: 10px;
  border-radius: 32px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

#hero-selection div:hover,
#hero-selection .active {
  transform: scale(1.1);
  background-color: var(--color-main);
}

/* Games section */

#games-collection,
#weekly-games-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 100px;
}

#games-collection a,
#weekly-games-collection a {
  cursor: pointer;
  width: fit-content;
  max-width: 400px;
  margin: 0 auto;
}

#games-collection a:hover .game-splash,
#weekly-games-collection a:hover .game-splash {
  transform: scale(1.05);
}

#games-collection a:hover .game-splash p,
#weekly-games-collection a:hover .game-splash p {
  opacity: 0;
}

#games-collection a .game-splash,
#weekly-games-collection a .game-splash {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  height: 200px;
  transition: all 0.3s ease;
}

#games-collection .game-splash img,
#weekly-games-collection .game-splash img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  overflow: hidden;
  border-radius: 12px;
}

#games-collection .game-splash p,
#weekly-games-collection .game-splash p {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
  color: white;
  font-size: 18px;
  background-color: var(--color-accent);
  padding: 6px 12px;
  border: 1px solid var(--color-accent);
  border-radius: 12px;
  display: inline-block;
  transition: all 0.2s ease;
}

#games-collection a .game-container,
#weekly-games-collection a .game-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#games-collection a .game-container .game-name,
#weekly-games-collection a .game-container .game-name {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#games-collection a .game-container .game-price,
#weekly-games-collection a .game-container .game-price {
  text-align: right;
  flex: 0 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  gap: 5px;
  color: aqua;
}

#games-collection a .game-container p,
#weekly-games-collection a .game-container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

#games-collection a .game-container p span,
#weekly-games-collection a .game-container p span {
  font-size: 26px;
}

/* FOOTER */

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 30px 0;
}

footer p span {
  color: var(--color-main);
}

@media screen and (max-width: 1600px) {
  #information .content {
    margin-left: 5vw;
  }
  .inner-container-width {
    width: 90vw;
  }
}

@media screen and (max-width: 1280px) {
  #games-collection {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (max-width: 800px) {
  #information .content {
    width: 70%;
    margin-bottom: 30px;
  }

  #information h3 {
    font-size: 24px;
  }

  #information .content p {
    font-size: 12px;
  }

  #information .content-item .off-deal {
    font-size: 12px;
    padding: 4px 8px;
  }

  #information .content-item .price {
    font-size: 20px;
  }

  #information .content-item .price span {
    font-size: 28px;
  }

  #information .content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  #information .content-item .btn {
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 12px;
    width: 100%;
  }

  #games-collection,
  #weekly-games-collection {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  #games-collection div,
  #weekly-games-collection div {
    max-width: 300px;
  }

  footer {
    font-size: 12px;
  }
}
